In [2]:
import json

import pandas as pd
import requests
from pyjstat import pyjstat

import eda

In [39]:
zone_room_space_url = "https://data.ssb.no/api/v0/en/table/09897/"
zone_room_space_query = {
  "query": [],
  "response": {
    "format": "json-stat2"
  }
}

zone_room_url = "https://data.ssb.no/api/v0/en/table/09895/"
zone_room_query = {
  "query": [
    {
      "code": "Soner2",
      "selection": {
        "filter": "item",
        "values": [
          "00",
          "01",
          "02",
          "03",
          "04",
          "05",
          "20",
          "21",
          "22"
        ]
      }
    }
  ],
  "response": {
    "format": "json-stat2"
  }
}

tenancy_url = "https://data.ssb.no/api/v0/en/table/06230/"
tenancy_query = {
  "query": [],
  "response": {
    "format": "json-stat2"
  }
}

landlords_url = "https://data.ssb.no/api/v0/en/table/09896/"
landlords_query = {
  "query": [],
  "response": {
    "format": "json-stat2"
  }
}

In [40]:
def query_to_df(url: str, query: dict):
	res = requests.post(url, json=query)
	ds = pyjstat.Dataset.read(res.text)
	df = ds.write('dataframe')
	return df

In [41]:
zone_room_space = query_to_df(zone_room_space_url, zone_room_space_query)
zone_room = query_to_df(zone_room_url, zone_room_query)
tenancy = query_to_df(tenancy_url, tenancy_query)
landlords = query_to_df(landlords_url, landlords_query)

In [42]:
zone_room_space

,price zone,number of rooms and utility floor space,contents,year,value
0,"Oslo - Sentrum, Frogner, Ullern and 2St.hansha...",1 room 15 sqm,Predicted monthly rent,2012,6920
1,"Oslo - Sentrum, Frogner, Ullern and 2St.hansha...",1 room 15 sqm,Predicted monthly rent,2013,6800
2,"Oslo - Sentrum, Frogner, Ullern and 2St.hansha...",1 room 15 sqm,Predicted monthly rent,2014,6700
3,"Oslo - Sentrum, Frogner, Ullern and 2St.hansha...",1 room 15 sqm,Predicted monthly rent,2015,7000
4,"Oslo - Sentrum, Frogner, Ullern and 2St.hansha...",1 room 15 sqm,Predicted monthly rent,2016,7100
...,...,...,...,...,...
4395,"Urban settlements with between 200 and 1,999 i...",5 rooms or more 180 sqm,Predicted monthly rent,2018,11900
4396,"Urban settlements with between 200 and 1,999 i...",5 rooms or more 180 sqm,Predicted monthly rent,2019,12300
4397,"Urban settlements with between 200 and 1,999 i...",5 rooms or more 180 sqm,Predicted monthly rent,2020,11700
4398,"Urban settlements with between 200 and 1,999 i...",5 rooms or more 180 sqm,Predicted monthly rent,2021,11400
4399,"Urban settlements with between 200 and 1,999 i...",5 rooms or more 180 sqm,Predicted monthly rent,2022,12000